# **Task 1, Cohort 3**
**Submitted by Ajeboriogbon Samuel A.** <br>
**Student Number: DS/2025/TC3/198**

## Task A
### Shopping List Manager
**Background** <br>
Imagine you’re preparing to go to the market to buy food for the week. Instead of writin 
on paper, you decide to organize your shopping using Python! This will help you keep
track of what you want to buy and how much it costs.

In [43]:
# 1. Create a list of 5 items you plan to buy.
items = ['rice', 'garri', 'beans', 'oil', 'salt']

In [71]:
# 2. Create a dictionary where each item is the key, and its price (in Naira) is the value.

item_price = {'rice': 36, 'garri': 17, 'beans': 29, 'oil': 9, 'salt': 3}
# All values are in Thousands* -> 36 == 36,000

In [12]:
# 3. Print the first and last item from your shopping list.

print('My first item is', items[0], 'and my last item from my shopping list is', items[4])

My first item is rice and my last item from my shopping list is salt

In [26]:
# 4. Print the price of the most expensive item from the dictionary.

print('The most expensive price in dictionary is' ,max(item_price.values()), 'thousand naira only')

The most expensive price in dictionary is 36 thousand naira only

In [47]:
# 5. Add 2 more items to the shopping list.

new_list = ['maggi', 'egg']
new_items = items + new_list
new_items

['rice', 'garri', 'beans', 'oil', 'salt', 'maggi', 'egg']

In [48]:
# 6. Find the total cost of all the items.

print('The total sum of my shopping list is ', sum(item_price.values()), 'thousand naira omly.')

The total sum of my shopping list is  94 thousand naira omly.

In [49]:
# 7. Create a tuple with your 3 favorite items from the shopping list and print it.

item_tuple = ('rice', 'garri', 'beans')
print(item_tuple)

('rice', 'garri', 'beans')

In [55]:
# 8. Display the items in your shopping list in alphabetical order.

new_items.sort()
print(new_items)

['beans', 'egg', 'garri', 'maggi', 'oil', 'rice', 'salt']

## Task B
### Student Information System
**Background** <br>
You are helping your school build a very simple “Student Information System.” The
school wants to store and display details about one student, including their subjects and
hobbies. You will use Python to represent the data neatly.

1 Create variables to store: 

a. Student’s name

b. Student’s age

c. Student’s GPA (float)

d. Whether the student passed (True or False)

In [61]:
name = 'Samuel'
age = 27
gpa = 5.0
status = True

In [62]:
# 2. Print a sentence that includes all of the student’s details.

print(f'{name} is {age} years old studying Mathematics at the Prestigious Obafemi Awolowo University, Great Ife, with a GPA of {gpa} in this just concluded semester. His studentship status is {status}')

Samuel is 27 years old studying Mathematics at the Prestigious Obafemi Awolowo University, Great Ife, with a GPA of 5.0 in this just concluded semester. His studentship status is True

In [63]:
# 3. Create a list of 5 subjects the student is taking. Print the 2nd and 4th subjects.

subjects = ['Mathematics', 'Physics', 'Computer studies', 'Agricultural science', 'Special Electives']
print(subjects[1])
print(subjects[3])

Physics
Agricultural science

In [66]:
# 4. Create a tuple of the student’s hobbies. Print the last hobby.

hobbies = ('praying', 'music', 'football')
print(f"{name}'s last hobbies of 3 is {hobbies[2]}")

Samuel's last hobbies of 3 is football

In [72]:
# 5. Create a dictionary with the student’s details (keys: "name", "age", "gpa", "passed", "subjects"). Print the dictionary.

student_details = dict(name=name, age=age, gpa=gpa, passed=status, subjects=subjects)
print(student_details)

{'name': 'Samuel', 'age': 27, 'gpa': 5.0, 'passed': True, 'subjects': ['Mathematics', 'Physics', 'Computer studies', 'Agricultural science', 'Special Electives']}

In [73]:
# 6. Suppose you have another list for the test scores of the students. The scores are; 78, 80, 92, 56, 85. Find the average test score.

scores = [78, 80, 92, 56, 85]
print(f'The average test score is {sum(scores)/len(scores)}')

The average test score is 78.2

## Task C
### Restaurant Menu Organizer
**Background** <br>
You are helping a restaurant organize their menu using Python. The restaurant sells
both food and drinks, and they want you to structure the data in a way that is easy to
understand.

In [74]:
# 1. Create a list of 5 food items sold in the restaurant.

food_items = ['rice', 'beans', 'pounded yam', 'yam', 'fufu']

In [75]:
# 2. Create a tuple of 3 drink names.

drink_tuple = ('fanta', 'coke', '7up')

In [80]:
# 3. Create a dictionary that links each food item to its price.

food_price = [200, 150, 350, 250, 300]
menu_dict = dict(zip(food_items, food_price))

In [81]:
# 4. Print the 3rd food item from the list.

food_items[2]

'pounded yam'

In [82]:
# 5. Print the 1st drink from the tuple.

drink_tuple[0]

'fanta'

In [83]:
# 6. Print the price of the least expensive item from the dictionary.

min(menu_dict.values())

150

In [84]:
# 7. Add 2 more food items to the list.

new_items=['eba','ofada']
food_items = food_items+new_items
food_items

['rice', 'beans', 'pounded yam', 'yam', 'fufu', 'eba', 'ofada']

In [88]:
# 8. Find the average food price.

#Gotta add the new items and their prcie to the dictionary first
menu_dict['eba'] = 100
menu_dict['ofada'] = 250
print(f'Average food price is {sum(menu_dict.values())/len(menu_dict)}')

Average food price is 228.57142857142858

In [90]:
# 9. Print the full menu dictionary.

menu_dict

{'rice': 200,
 'beans': 150,
 'pounded yam': 350,
 'yam': 250,
 'fufu': 300,
 'eba': 100,
 'ofada': 250}

# ***Thank you***
***Task 1 - Done and Dusted, Unto the Next, Phheeewwwww***

**NAME: Ajeboriogbon Samuel A.**

**STUDENT ID: DS/2025/TC3/198**